<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        html,
        body {
            background-color: #FAFAFA
        }

        table {
            border: 2px solid #000000;
        }

        td {
            border: 1px solid #000000;
            text-align: center;
            vertical-align: middle;
        }

        input {
            color: #000000;
            padding: 0;
            border: 0;
            text-align: center;
            width: 96px;
            height: 48px;
            font-size: 24px;
            background-color: #FFFFFF;
            outline: none;
        }

        input:disabled {
            background-color: #EEEEEE;
        }


    </style>
</head>

<body>
    <div id="tablesDiv" class="container">

        <h1>{% block header %}{% endblock header %}</h1>

        <form id="employeeForm" action="/solve" method="POST">
        <table id="basicInfo">

            <tr>
                <td><text>Employee ID</text></td>
                <td><text>Employee First Name</text></td>
                <td><text>Employee Last Name</text></td>
                <td><text>Employee Role</text></td>
                <td><text>Employee Wage</text></td>               
            </tr>

            <tr>
                <td><input id="id_1" type="text" value="{% block content %}{% endblock content %}"></td>
                <td><input id="first_name_1" type="text"></td>
                <td><input id="last_name_1" type="text"></td>

                <td><input id="role_1" type="text"></td>
                <td><input id="wage_1" type="text"></td>
            </tr>
            
        </table>
    <br />
        <table id = "extremes">
            <tr>
                <td>Shortest Shift (in hours)</td>
                <td><text>Longest Shift (in hours)</text></td>
                <td><text>Minimum Hours Per Week</text></td>
                <td><text>Maximum Hours Per Week</text></td>
                <td><text>Minimum Days Per Week</text></td>
                <td><text>Maximum Days Per Week</text></td>
            </tr>
            <tr>
                <td><input id="short_shift" type="text"></td>
                <td><input id="long_shift" type="text"></td>
                <td><input id="min_weekly_hours" type="text"></td>
                <td><input id="max_weekly_hours" type="text"></td>
                <td><input id="min_days" type="text"></td>
                <td><input id="max_days" type="text"></td>
            </tr>

            </table>
            
            <br />
            <h4> Enter Availability Below </h4>
            <table id = "availability">
            
            <tr>
                <td><text>Day</text></td>
                <td><text>Sunday</text></td>
                <td><text>Monday</text></td>
                <td><text>Tuesday</text></td>
                <td><text>Wednesday</text></td>
                <td><text>Thursday</text></td>
                <td><text>Friday</text></td>
                <td><text>Saturday</text></td>
            </tr>

            <tr>
                <td><text>Start Time of Availability</text></td>
                <td><input id="sunday_1" type="text"></td>
                <td><input id="monday_1" type="text"></td>
                <td><input id="tuesday_1" type="text"></td>
                <td><input id="wednesday_1" type="text"></td>
                <td><input id="thursday_1" type="text"></td>
                <td><input id="friday_1" type="text"></td>
                <td><input id="saturday_1" type="text"></td>
            </tr>

            <tr>
                <td><text>End Time of Availability</text></td>
                <td><input id="sunday_2" type="text"></td>
                <td><input id="monday_2" type="text"></td>
                <td><input id="tuesday_2" type="text"></td>
                <td><input id="wednesday_2" type="text"></td>
                <td><input id="thursday_2" type="text"></td>
                <td><input id="friday_2" type="text"></td>
                <td><input id="saturday_2" type="text"></td>
            </tr>
            
        </table>
        <button type = "button" onclick = "addAvailabilityRows()">To Add Additional Availability Info, Click Here</button>
        <br />
        <br />

        
        <button type="submit">Submit</button>
        {% block skillButton %}{% endblock skillButton %}
        <button id="resetButton" type="reset">Reset</button>
    </form>

    <button onclick="goToHome()" id = "homeButton">Home</button>

    <!-- <button onclick="goToAvailability()" id="availButton">Update Employee Availability</button> -->
    </div>
    {% block modal %}{% endblock modal %}
</body>
{% block scripts %}{% endblock scripts %}


</html>